*~
*.sw*
.idea/
venv/
.flagkusy
chromedriver
geckodriver.log
*.png
config.json
*.jpg
tomkowa_strona
*.gif
*.ui
*.bkp
working_slideshow.txt
paczka*
*.service
!kwadrat.png
__pycache__/*
*/__pycache__/*
