[Unit]
Description=checkSlideshow

[Service]
Environment=XAUTHORITY=/home/matball/.Xauthority
Type=simple
WorkingDirectory=/home/matball/Projects/czujnikSnapshot
ExecStart=/home/matball/Projects/czujnikSnapshot/check_slideshow_work.sh
Restart=always

[Install]
WantedBy=graphical.target
