[Unit]
Description=checkSlideshow

[Service]
Environment=XAUTHORITY=/home/pi/.Xauthority
Type=simple
WorkingDirectory=/home/pi/slideshow
ExecStart=/home/pi/slideshow/check_slideshow_work.sh
Restart=always

[Install]
WantedBy=graphical.target
