{
  "__comment__": "ustawienia debug programów",
      "debug_logsnapshot"  : "false",
      "debug_logslideshow" : "true",
  "__comment__": "czynniki wspólne dla obu programów",
      "workdirectory": "/home/matball/Projects/czujnikSnapshot",
  "__comment__": "poniżej zmienne uzywane w czujniksnapshot",
      "time": 200,
      "visibleSelenium": "false",
      "chromiumurl": "/usr/bin/chromium-browser",
      "width_czujnik": 1920,
      "height_czujnik": 1200,
      "mapa-link"  : "https://czujnikimiejskie.pl/public/kozienice/?url_node_id=196&kml=false&a=",
      "widget-link" : "https://czujnikimiejskie.pl/public/widgety/widget_kozienice.html?id=196&a=",
  "__comment__": "poniżej zmienne używane w slideshow",
      "logslideshow": "true",
      "timeForPicture": 5,
      "timeForDownloader": 200,
      "fullScreenSlideshow": "false",
      "sizeOfLoadingBar": 4,

  "__comment__": "rubryka na zdjęcia - pierwsze nazwa zdjęcia, drugi url skąd updatujemy",
      "kwadrat": ["kwadrat.png", ""],
      "__comment__": "uwaga - danie w url https może spowodować puste zdjecie",
      "zdjeciaSlajd": [
           {
               "nazwapng": "mapaKozienice.png",
               "url"     : "http://134.122.69.201/mapaKozienice/"
           },
           {
               "nazwapng": "widgetKozienice.png",
               "url"     : "http://134.122.69.201/widgetKozienice/"
           },
           {
               "nazwapng": "mapaPiaseczno.png",
               "url"     : "http://134.122.69.201/mapaPiaseczno/"
           },
           {
               "nazwapng": "widgetPiaseczno.png",
               "url"     : "http://134.122.69.201/widgetPiaseczno/"
           },
           {
               "nazwapng": "mapaKolno.png",
               "url"     : "http://134.122.69.201/mapaKolno/"
           },
           {
               "nazwapng": "widgetKolno.png",
               "url"     : "http://134.122.69.201/widgetKolno/"
           }
      ]
}
