{
  "__comment__": "ustawienia debug programów",
      "debug_logslideshow" : "true",
  "__comment__": "zmienne używane w check_slideshow_work",
      "timeToCheckSlideshow": 55,
  "__comment__": "zmienne używane w slideshow - zmienne czasowe podane w sekundach",
      "timeForPicture": 200,
      "timeForDownloader": 200,
      "fullScreenSlideshow": "false",
      "sizeOfLoadingBar": 4,
      "workdirectory": "/home/matball/Projects/czujnikSnapshot",
  "__comment__": "rubryka na zdjęcia - pierwsze nazwa zdjęcia, drugi url skąd updatujemy",
      "pasekpng": ["kwadrat.png", ""],
      "__comment__": "uwaga - danie w url https może spowodować puste zdjecie",
      "zdjeciaSlajd": [
           {
               "nazwapng": "mapaKozienice.png",
               "url"     : "http://134.122.69.201/mapaKozienice/"
           },
           {
               "nazwapng": "widgetKozienice.png",
               "url"     : "http://134.122.69.201/widgetKozienice/"
           },
           {
               "nazwapng": "mapaPiaseczno.png",
               "url"     : "http://134.122.69.201/mapaPiaseczno/"
           },
           {
               "nazwapng": "widgetPiaseczno.png",
               "url"     : "http://134.122.69.201/widgetPiaseczno/"
           },
           {
               "nazwapng": "mapaKolno.png",
               "url"     : "http://134.122.69.201/mapaKolno/"
           },
           {
               "nazwapng": "widgetKolno.png",
               "url"     : "http://134.122.69.201/widgetKolno/"
           }
      ]
}
