{
  "mapa" : "mapa.png",
  "widget": "widget.png",
  "kwadrat": "kwadrat.png",
  "mapa-link"  : "https://czujnikimiejskie.pl/public/kozienice/?url_node_id=196&kml=false&a=",
  "widget-link" : "https://czujnikimiejskie.pl/public/widgety/widget_kozienice.html?id=196&a="
}
