#!/bin/bash

Czujniki="$HOME""/Projects/czujnikSnapshot"
PythonEnv="$HOME""/Projects/czujnikSnapshot/venv/bin/python"
cd "$Czujniki"
pwd
for i in {1..5}
do
"$PythonEnv" "$Czujniki"/slideshow.py
   echo "Odpalenie programu numer $i"
   sleep 1
   "$PythonEnv" "$Czujniki"/slideshow.py
   if [[ "$i" == 5 ]]
     then
       reboot
   fi
done
