[Unit]
Description=slideshow
Wants=graphical.target
After=graphical.target

[Service]
Environment=DISPLAY:0.0
Environment=XAUTHORITY=/home/matball/.Xauthority
Type=simple
ExecStart=/home/matball/Projects/czujnikSnapshot/venv/bin/python /home/matball/Projects/czujnikSnapshot/slideshow.py -f -l
Restart=on-abort
User=matball
Group=matball

[Install]
WantedBy=graphical.target
